# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions


/data.dev.json
/data.json
/Captchaload.png
/botdetect.png
/log.txt
/ProxyList.csv
/monitorService/mcore/data.dev.json
/.idea/dataSources/0dac98b1-3b1a-4c39-8dda-ad093965b627.xml
/.idea/httpRequests/2024-05-18T233509.200.txt
/.idea/httpRequests/2024-05-18T233812.200.txt
/.idea/httpRequests/2024-05-19T164604.200.txt
/.idea/httpRequests/2024-05-19T170608.200.txt
/.idea/httpRequests/2024-05-19T191642.200.txt
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
!/data.json
