/node_modules/
**/node_modules/
**/dist/
**/coverage/
**/.tmp/
**/tmp/
**/target/
*.log
.env
.env.*
!.env.example
auth.json
*.pem
*.p12
*.pfx
.DS_Store
/.idea/
/.vscode/
/.railway/*
!/.railway/README.md
!/.railway/railway.ts
